UnforeseenConsequences/Library/
UnforeseenConsequences/Temp/
UnforeseenConsequences/obj/
UnforeseenConsequences/UnforeseenConsequences.v12.suo
UnforeseenConsequences/ProjectSettings/ProjectVersion.txt